<?xml version="1.0"?>
<configuration>
	<appSettings/>
	<connectionStrings/>
	<system.web>
		<compilation debug="true"/>
		<authentication mode="None"/>
		<pages/>
	</system.web>
	<system.webServer>
		<handlers>
			<remove name="StaticFile"/>
			<add name="StaticFile" path="*" verb="*" type="System.Web.StaticFileHandler"  />
		</handlers>
		<httpProtocol>
			<customHeaders>
				<clear />
			</customHeaders>
			<redirectHeaders>
				<clear />
			</redirectHeaders>
		</httpProtocol>
	</system.webServer>
</configuration>